{% extends 'registration/navbar.html' %} {% block content %} {% load static %}

<div class="container">
  <!-- <form id="apiform" method="POST">
    {% csrf_token %}

    <label for="username">Seleziona Categoria</label>
    <select name="cat" id="cat">
      <option value="ingredients">Ingrediente</option>
      <option value="recipes">Ricetta</option>
      <option value="menuItems">Menu</option>
      <option value="products">Prodotto</option>
    </select>

    <label for="username">Search</label>
    <input type="search" id="query" name="query" />

    <button type="submit">Submit</button>
  </form> -->
  <!-- <div class="list-group">
    {% for result in results %}
    <a href="{% url 'ingredient-info' result.id%}" class="list-group-item list-group-item-action"
      >{{result.name}} <button class="btn btn-primary mt-3">Richiedi Info</button></a
    >
    {% endfor %}
  </div> -->
  <div class="btn btn-dark mt-2">
    <a class="control-field" href="#" id="add-field">Aggiungi alimento</a>
  </div>
  <div class="btn btn-dark mt-2">
    <a class="control-field" href="#" id="remove-field">Rimuovi alimento</a>
  </div>
  <div class="card mt-5">
    <div class="card-header">
      <h5>Calcola Insulina</h5>
    </div>
    <div class="card-body" id="ingredient-list">
      <div class="form-row d-flex justify-content-between" id="row1">
        <input
          class="form-group col-md-4 autocomplete"
          type="text"
          placeholder="Aggiungi ingrediente"
        />
        <input
          class="form-group col-md-4 autocomplete"
          type="number"
          placeholder="Aggiungi quantità"
        />
      </div>
    </div>
    <button id="calculate" type="submit" class="btn btn-primary mt-3">Calcola</button>
    Total : <input type="text" name="total" id="result"/>
  </div>
  <!-- <div id="ingredient-list">
    <div class="autocomplete">
      <input type="text" name="ingredient[]" placeholder="Add new field" class="ingredient-input">
      <input type="number" name="ingredient[]" placeholder="Add Quantity" class="ingredient-input">
    </div>
  </div> -->
  <!-- <input type="text" id="tags">
    <script>
        $(function () {
            var availableTags = [
                {% for car in ingredients %}
                  {{car.name}},
                {% endfor %}
            ];
        $("#tags").autocomplete({
            source: availableTags
        });
        });
    </script> -->
  <!-- <form class="add_your_class" method="GET" action="" >
      <input class="add_your_class" type="search" name="search"> 
      <button class="add_your_class" type="submit"> Search </button>
  </form>
  {% for result in ingredients %}
   {{ result.name }}
  {% empty %}
  <span>add something to show no results</span>
  {% endfor %} -->
</div>
{{ ingredients_json|json_script:"mydata" }}
<script type="text/javascript" src="{% static 'js/manage_list.js' %}"></script>
{% endblock content %}
