{% extends 'registration/navbar.html' %} {% block content %}

{% load static %}

<div class="container">
  <form id="apiform" method="POST">
    {% csrf_token %}

    <label for="username">Seleziona Categoria</label>
    <select name="cat" id="cat">
      <option value="ingredients">Ingrediente</option>
      <option value="recipes">Ricetta</option>
      <option value="menuItems">Menu</option>
      <option value="products">Prodotto</option>
    </select>

    <label for="username">Search</label>
    <input type="search" id="query" name="query" />

    <button type="submit">Submit</button>
  </form>
  <div class="list-group">
    {% for result in results %}
    <a href="{% url 'ingredient-info' result.id%}" class="list-group-item list-group-item-action"
      >{{result.name}} <button class="btn btn-primary mt-3">Richiedi Info</button></a
    >
    {% endfor %}
  </div>
  <div class="controls">
    <a href="#" id="add-field">Aggiungi alimento</a>
  </div>
  <div class="controls">
    <a href="#" id="remove-field">Rimuovi alimento</a>
  </div>
  <div id="ingredient-list">
    <input type="text" name="ingredient[]" id="">
  </div>
  <!-- <input type="text" id="tags">
    <script>
        $(function () {
            var availableTags = [
                {% for car in ingredients %}
                  {{car.name}},
                {% endfor %}
            ];
        $("#tags").autocomplete({
            source: availableTags
        });
        });
    </script> -->
    <!-- <form class="add_your_class" method="GET" action="" >
      <input class="add_your_class" type="search" name="search"> 
      <button class="add_your_class" type="submit"> Search </button>
  </form>
  {% for result in ingredients %}
   {{ result.name }}
  {% empty %}
  <span>add something to show no results</span>
  {% endfor %} -->
</div>
<script src="{% static 'js/manage_list.js' %}"></script>
{% endblock content %}
