{% extends 'registration/navbar.html' %} {% block content %} {% load static %}

<div class="container">
  <button id="add-form" type="submit" class="btn btn-dark mt-2">
    Aggiungi alimento
  </button>
  <button id="remove-field" type="submit" class="btn btn-dark mt-2">
    Rimuovi alimento
  </button>
  <div class="card mt-5">
    <div class="card-header">
      <h5>Calcola Insulina</h5>
    </div>
    <div class="card-body" >
      <form method="POST" id="form-container">
        {% csrf_token %} {{ingredient_calc_formset.management_form}}
        <div class="form-row d-flex mx-5" id="row1">
          {% for form in ingredient_calc_formset %}
          <div class="form-group autocomplete">{{ form }}</div>
          {% endfor %}
        </div>
        <button id="calculate" type="submit" class="btn btn-primary my-3 mx-5">
          Calcola
        </button>
        <div class="d-flex flew-row mx-5">
          <label for="total_grams">Grammi Totali:</label>
          <input type="text" class="form-control" id="total_grams" />
        </div>
        <div class="d-flex flew-row mx-5">
          <label for="total_grams">Carboidrati Totali:</label>
          <input type="text" class="form-control" id="total_c:arbs" />
        </div>
        <div class="d-flex flew-row mx-5">
          <label for="insulin_value">Insulina Suggerita:</label>
          <input type="text" class="form-control" id="insulin_value" />
        </div>
      </form>
    </div>
    
  </div>
</div>
{{ ingredients_json|json_script:"mydata" }}
<script type="text/javascript" src="{% static 'js/manage_list.js' %}"></script>
{% endblock content %}
