{% extends 'registration/navbar.html' %} {% block content %}

<div>
  <div class="container">
    <a class="btn btn-primary mt-auto" href="{% url 'patient-create'%}"
      >Aggiungi Paziente
    </a>
    <div class="row">
      {% for patient in patients %}
      <div class="card m-2" style="width: 18rem">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            <a href="{% url 'patient-detail' patient.pk%}">{{patient}} </a>
          </h5>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a
              class="btn btn-secondary m-auto"
              href="{% url 'patient-measure-create' patient.pk%}"
              >Aggiungi Misurazione
            </a>
            <a
              class="btn btn-secondary m-auto"
              href="{% url 'patient-measure-list' patient.pk %}"
              >Visualizza Misurazioni
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
